<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title></title>
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="">
<!-- bootstrap -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="shortcut icon" href="">
</head>
<body>
    <h1>Welcome to Mini Quiz</h1>

    <p>Pudding cookie jujubes powder oat cake.
    Lemon drops tootsie roll danish cheesecake
    tart sweet roll bonbon liquorice sugar plum.
    Pie dessert sweet apple pie brownie dessert.
    Toffee tart halvah. Croissant caramels tootsie
    roll. Halvah marshmallow muffin jelly beans pie.
    Cake cake jelly beans cotton candy candy canes
    jujubes cheesecake cupcake danish. Bear claw
    liquorice lemon drops dessert bear claw cotton
    candy cupcake jujubes sugar plum. Liquorice oat
    cake dessert. Pastry toffee sweet roll jelly candy.
    Jelly-o candy canes jelly sweet roll marzipan cheesecake
    marzipan macaroon biscuit. Sugar plum bonbon pudding
    dragée bear claw jelly-o pudding. Bear claw halvah pudding
    toffee. Jujubes apple pie lollipop macaroon marzipan lollipop.</p>

    <p>"Cheesecake soufflé dessert carrot cake gummi bears lemon drops wafer."
    -- Vanellope von Schweetz</p>

    <p>"Macaroon sweet bear claw. Sugar plum danish marshmallow sugar
    plum cotton candy jelly beans jelly beans."
    -- Gaius</p>
</body>
</html>